GOOGLE_CLIENT_ID=[ask system owner for values]
GOOGLE_CLIENT_SECRET=[ask system owner for values]
DJANGO_SECRET_KEY=""
POSTGRES_DB=myprojectdb
POSTGRES_USER=myprojectuser
POSTGRES_PASSWORD=securepassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
