# Virtual environment
venv/
# Secrets
credentials.json
oauth_client_secret.json
oauth_token.json
service_account.json
# Django
db.sqlite3
# macOS


# Python cache
__pycache__/
**/__pycache__/
*.pyc

# OS/editor files
.DS_Store
.vscode/
.idea/
