{# 
  This is a Django template, not a normal static HTML file.

  - Django processes this file on the server before sending it to the browser.
  - Template tags like {% load socialaccount %} and {% provider_login_url 'google' %}
    are executed by Django and will NOT work if you open this file directly
    using Live Server or by double‑clicking it.
  - To view this page correctly, you must run the Django server
        python manage.py runserver
    and open:
        http://localhost:8000/login/
#}


{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h1>Sign in</h1>

    <p>Please sign in with Google to continue.</p>

    <a href="{% provider_login_url 'google' %}">
        <button>Sign in with Google</button>
    </a>

</body>
</html>
